{{ define "partials/file_browser.html" }}

{{ template "partials/page_header.html" .}}

<p>{{ .job.Name }}</p>


{{ if and .showParentDirLink }}
<div class="file-browser-item" title="Parent Directory">
<a href="/jobs/files/{{ .job.ID}}?directory={{ .parentDir }}"><i class="fas fa-angle-left"></i>{{ .parentDirShortName }}</a>
</div>
{{ end }}

{{ $job := .job }}
{{ range $index, $item := .items}}

    {{ if $item.FileInfo.IsDir }} 
    <div class="file-browser-item" title="{{ $item.FileInfo.Name }} - Click link to open. Click icon to drag and drop."><i class="far fa-folder"></i>
        <a href="/jobs/files/{{ $job.ID}}?directory={{ $item.FullPath }}">{{ $item.FileInfo.Name }}</a>
    </div>    
    {{ else }}
    <div class="file-browser-item" title="{{ $item.FileInfo.Name }}">{{ fileIconFor $item.FileInfo.Name }}{{ truncateMiddle $item.FileInfo.Name 26 }}</div>    
    {{ end }}

{{ end }}

{{ if not .items }}
<div class="file-browser-item">Directory is empty</div>    
{{ end }}

{{ template "partials/page_footer.html" .}}

{{ end }}
