{{ define "partials/profile_tags.html" }}

<div class="pull-right mt-1 mb-3">
    <a class="btn btn-primary" href="#TagDefinition/new?bagItProfileId={{ .bagItProfileId }}&tagFileName={{ .tagFileName }}" role="button">New Tag</a>
</div>
  
<table class="table table-hover">
  <thead class="thead-inverse tag-table">
    <tr>
      <th style="width: 30px;"></th>
      <th>Tag Name</th>
      <th>Default Value</th>
      <th style="width: 30px;"></th>
    </tr>
  </thead>
  <tbody>
    {{ range $tag := .tags }}
      {{ template "partials/tag_def_row.html"  dict "tag" $tag "bagItProfileId" .bagItProfileId }}
    {{ end }}
  </tbody>
</table>

{{ end }}
