{{ define "app_setting/list.html" }}

{{ template "partials/banner_alert.html" . }}

<h2>Application Settings</h2>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#" data-func="AppSettingCreate" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $item := .items }}
    <tr class="clickable-row" data-func="AppSettingEdit" data-func-param="{{ $item.ID }}">
      <td>{{ $item.Name }}</td>
      <td>{{ $item.Value }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "partials/table_bottom_links.html" . }}

{{ end }}