{{ define "dashboard/show.html" }}

{{ template "partials/page_header.html" .}}


<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Recent Jobs</div>
      <div class="card-body dashboard-card-body" id="cardRecentJobs">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Name</th>
              <th>Outcome</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{ range $index, $job := .jobs }}
            <tr>
              <td><a href="/jobs/files/{{ $job.ID }}">{{ $job.Outcome.JobName }}</a></td>
              <td>{{ $job.Outcome.Message }}</td>
              <td>{{ dateISO $job.Outcome.LastActivity }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Reports from remote repos will go in here -->
<div id="reportsContainer"></div>


<script>
$(function(){
  var repoReports = `{{ .reportListJson }}`
  
})
</script>


{{ template "partials/page_footer.html" .}}

{{ end }}