{{ define "workflow/batch.html" }}

{{ template "partials/page_header.html" .}}

<h2>Workflow Batch</h2>

<p>Run all of the directories listed in a spreadsheet through the same workflow. 
For more information, see DART's 
<a href="#Help/openExternal?url=https://aptrust.github.io/dart-docs/users/workflows/batch_jobs/">
batch workflow documentation.</a></p>

<form method="post" action="/workflows/batch/validate" id="workflowBatchForm">

  {{ template "partials/input_select.html" dict "field" .form.Fields.WorkflowID }}

  <!-- // TODO: The input below should be some kind of file chooser -->

  {{ template "partials/input_text.html" dict "field" .form.Fields.PathToCSVFile }}
  
  <div class="bottom-buttons">
    <div class="pull-right">
      <button id="runWorkflowBatch" class="btn btn-primary" type="button" role="button">Run</button>
    </div>
  </div>

</form>

<div id="batchValidation" style="display:none">
  <h3>Errors</h3>
  <ul id="batchValidationErrorList">
  </ul>
</div>


<div class="row" id="dartProcessContainer">

</div>


<!-- 
This template contains the HTML and JavaScript to display
job details and progress.
-->
{{ template "partials/job_run.html" . }}


<div class="alert alert-warning" role="alert" id="batchRunning" style="display:none;">
  Leave DART open and stay on this page until all jobs in the batch are complete.
</div>

<div class="alert alert-success" role="alert" id="batchCompleted" style="display:none;">
  All jobs have completed. Check the results below.
</div>

<div class="container mt-2 mb-5" id="workflowResults" style="display:none;">
  <h3>Results</h3>
</div>

<script>
$(function() {
  function validateAndRunBatch() {
    clearErrors()
    let formId = '#workflowBatchForm'
    let onSuccess = function(response) {
      let url = '/workflows/batch/run?' + $(formId).serialize()      
      //console.log(response)
      console.log(url)
      runJob(url, '')
    }
    let onFail = function(xhr, status, err) {
      // display form validation errors below form controls
      // display other validation errors in list below form
      let data = JSON.parse(xhr.responseText)
      console.log(data)
      if (data.errors["PathToCSVFile"]) {
        $('#PathToCSVFileError').html(data.errors["PathToCSVFile"])
      }
      if (data.errors["WorkflowID"]) {
        $('#WorkflowBatch_WorkflowIDError').html(data.errors["WorkflowID"])
      }
      displayValidationErrors(data.errors)
    }
    submitFormInBackground(formId, onSuccess, onFail)
  }

  function clearErrors() {
    $('#PathToCSVFileError').html("")
    $('#WorkflowBatch_WorkflowIDError').html('')
    $('#batchValidation').hide()
    $('#batchValidationErrorList').empty()
  }

  function displayValidationErrors(errors) {
    for(var key of Object.keys(errors).sort()){
      let errMsg = errors[key]
      // First two case: invalid or missing parameter to set up the batch job.
      if (key == "PathToCSVFile") {
        $('#PathToCSVFileError').html(errMsg)
        continue
      }
      if (key == "WorkflowID") {
        $('#WorkflowBatch_WorkflowIDError').html(errMsg)
        continue
      }
      // All other cases are errors found while parsing the CSV file.
      // These are usually missing/invalid tag values, missing bag
      // name, missing/invalid root directory.
      $('#batchValidation').show()
      $('#batchValidationErrorList').append(`<li>${key} - ${errMsg}</li>`)
    }    
  }

  // Attach this handler to both the run button and the form's
  // submit event, in case user hits the Enter key.
  $('#runWorkflowBatch').on('click', validateAndRunBatch)
  $('#workflowBatchForm').on('submit', function() { validateAndRunBatch(); return false; })
});

// runJob('/workflows/batch/run/', '{{ .workflowBatchId }}')
</script>



{{ template "partials/page_footer.html" .}}

{{ end }}
