{{ define "bagit_profile/import.html" }}

{{ template "partials/page_header.html" . }}

<form action="/profiles/import" method="post" id="profileImportForm">

<div class="form-group" id="importSourceContainer">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="importSource" id="importSourceUrl" value="URL">
        <label class="form-check-label" for="importSourceUrl">
            Import from URL
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="importSource" id="importSourceTextArea" value="TextArea">
        <label class="form-check-label" for="importSourceTextArea">
            Import from JSON (Cut and Paste)
        </label>
    </div>
</div>

<div class="form-group" id="txtUrlContainer" style="display:none;">
    <label class="control-label" for="txtUrl">Import BagIt Profile from Url</label>
  <input type="text" id="txtUrl" name="txtUrl" class="form-control" placeholder="Profile Url" />
</div>

<div class="form-group" id="txtJsonContainer" style="display:none;">
    <label class="control-label" for="txtJson">BagIt Profile JSON</label>
    <textarea id="txtJson" name="txtJson" class="form-control" rows="16"></textarea>
</div>



<div class="bottom-buttons">
  <div class="pull-right">
    <button type="submit" class="btn btn-primary" type="button" id="btnImport">Import</button>
  </div>
  <div class="pull-right mr-3">
    <a role="button" class="btn btn-secondary" href="/profiles">Cancel</a>
  </div>
</div>

</form>


<script>
function importSourceUrlClick(e) {
    $('#txtJsonContainer').hide()
    $('#txtUrlContainer').show()
}

function importSourceTextAreaClick(e) {
    $('#txtUrlContainer').hide()
    $('#txtJsonContainer').show()
}

// Page init
$(function () {
  $('#importSourceUrl').click(importSourceUrlClick);
  $('#importSourceTextArea').click(importSourceTextAreaClick);
  $("#profileImportForm").on( "submit", function(event) {
    let source = $('input[name="importSource"]:checked')
    if (source.val() == "URL" && $('#txtUrl').val().trim() == "") {
      alert("Please specify a URL")
      event.preventDefault()
      return false
    }
    if (source.val() == "TextArea" && $('#txtJson').val().trim() == "") {
      alert("Please enter the profile JSON")
      event.preventDefault()
      return false
    }
    return true
  })
})
</script>


{{ template "partials/page_footer.html" .}}

{{ end }}

