{{ define "settings/export.html" }}

{{ template "partials/page_header.html" .}}


<h2>Export Settings</h2>

<form name="exportSettingsForm" action="/settings/export/{{ .form.ObjectID }}" method="post">

  <div class="card mb-3">
    <div class="card-header">App Settings</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.AppSettings }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">BagIt Profiles</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.BagItProfiles }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Remote Repositories</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.RemoteRepositories }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Storage Services</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.StorageServices }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Add Setup Questions?</div>
    <div class="card-body">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="AddQuestions" id="AddQuestions" value="">
          Add questions to help users import these settings.
        </label>
      </div>
    </div>
  </div>

</form>


<div class="bottom-buttons">
  <div class="pull-left">
    <button type="button" class="btn btn-secondary" id="btnReset">Reset</button>
  </div>
  <div class="pull-right">
    <a role="button" class="btn btn-primary" id="btnNext" href="#Settings/showExportJson?fromPage=export">Export</a>
  </div>
  <div class="pull-right mr-3">
    <a role="button" class="btn btn-secondary" href="#Dashboard/show">Cancel</a>
  </div>
</div>


<script>
$(function(){
        $(`input[name="AddQuestions"]`).on('click', function() {
            if ($(`input[name="AddQuestions"]`).is(':checked')) {
                $("#btnNext").text("Add Questions");
                $("#btnNext").attr("href", "#");
            } else {
                $("#btnNext").text("Export");
                $("#btnNext").attr("href", "#");
            }
        })
        $('#btnReset').on('click', function() {
            if(confirm(Context.y18n.__("Do you want to clear this form and remove questions related to these settings?"))){
                document.forms['exportSettingsForm'].reset()
            }
        })
})
</script>


{{ template "partials/page_footer.html" .}}


{{ end }}