{{ define "settings/export.html" }}

{{ template "partials/page_header.html" .}}


<h2>Export Settings</h2>

<form name="exportSettingsForm" action="/settings/export/save/{{ .form.ObjectID }}" method="post">

 {{ template "partials/input_text.html" dict "field" .form.Fields.Name }}

  <div class="card mb-3">
    <div class="card-header">App Settings</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.AppSettings }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">BagIt Profiles</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.BagItProfiles }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Remote Repositories</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.RemoteRepositories }}
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">Storage Services</div>
    <div class="card-body">
        {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.StorageServices }}
    </div>
  </div>


  <div class="bottom-buttons mb-3">
    <div class="pull-left">
      <button type="button" class="btn btn-danger" id="btnDelete" title="Delete these settings.">Delete</button>
    </div>
    <div class="pull-left ml-3">
      <button type="button" class="btn btn-warning" id="btnReset" title="Clear the form.">Reset</button>
    </div>
    <div class="pull-left ml-3">
      <a role="button" class="btn btn-primary" id="btnAddQuestions" title="Add questions to help other users import these settings." href="/settings/export/questions/{{ .settings.ID }}">Add Questions</a>
    </div>
    <div class="pull-right">
      <a role="button" class="btn btn-primary" id="btnExport" title="Export these settings to JSON." href="/settings/export/show_json/{{ .settings.ID }}">Export</a>
    </div>
    <div class="pull-right mr-3">
      <button type="submit" class="btn btn-primary" id="btnSave">Save</a>
    </div>
    <div class="pull-right mr-3">
      <a role="button" class="btn btn-secondary" href="/settings/export">Cancel</a>
    </div>
  </div>

</form>

<form id="settingsDeletionForm" action="/settings/export/delete/{{ .form.ObjectID }}" method="post">
  <input type="hidden" name="ID" value="{{ .form.ObjectID }}"/>
</form>

<script>
$(function(){
    $('#btnReset').on('click', function() {
        if(confirm("Do you want to clear this form and remove questions related to these settings?")){
            document.forms['exportSettingsForm'].reset()
        }
    })
    $('#btnDelete').on('click', function() {
        if(confirm("Do you want to delete the export version of these settings? The settings will still exist for your personal use. Only the exportable JSON data will go away.")){
            document.forms['settingsDeletionForm'].submit()
        }
    })
})
</script>


{{ template "partials/page_footer.html" .}}


{{ end }}