{{ define "settings/question_form.html" }}

{{ template "partials/page_header.html" .}}

<h2>Setup Questions</h2>

<p><a target="_blank" href="https://aptrust.github.io/dart-docs/users/settings/export/#export-questions">Need help?</a></p>

<form id="settingsQuestionsForm">

  {{ range $index, $question := .settings.Questions }}
    {{ $questionNumber := add $index 1}}
    {{ template "settings/question.html" dict "questionNumber" $questionNumber "question" $question "form" $question.ToForm }}
  {{ end }} 

</form>


<div class="bottom-buttons">
  <div class="pull-right">
    <a role="button" class="btn btn-primary" id="btnNext" href="#Settings/showExportJson?fromPage=questions">Export</a>
  </div>
  <div class="pull-right mr-3">
      <button type="button" class="btn btn-primary" id="btnAdd">Add Question</button>
  </div>
  <div class="pull-right mr-3">
    <a role="button" class="btn btn-secondary" href="#Settings/saveAndGoToExport">Cancel</a>
  </div>
</div>

<script>
var options = {{ .optionsJson }}
$(function() {

  function loadObjectList(questionId, objType) {
    console.log(`loadObjectList: ${questionId}, ${objType}`)
    let objIdList = $(`select[data-control-name="objId"][data-question-id="${questionId}"]`)
    let listOptions = []
    switch (objType) {
      case "AppSetting":
        listOptions = options.appSettings
        break
      case "BagItProfile":
        listOptions = options.bagItProfiles
        break
      case "RemoteRepository":
        listOptions = options.remoteRepositories
        break
      case "StorageService":
        listOptions = options.storageServices
        break
    }
    objIdList.empty()
    objIdList.append(new Option(""))
    listOptions.forEach(function(item) {
      objIdList.append(new Option(item.Name, item.ID))
    })
  }

  function loadFieldList(questionId, profileId) {
    console.log(`loadFieldList: ${questionId}, ${profileId}`)
  }

  function emptyFieldList() {
    console.log('emptyFieldList')
  }

  // When ObjType changes, load obj list
  $('select[data-control-name="objType"]').on('change', function() {
    let questionId = $(this).data('question-id') 
    let objType = $(this).val()
    if (objType) {
      loadObjectList(questionId, objType)
    }
  })
  
  // When ObjID changes, load field list
  $('select[data-control-name="objId"]').on('change', function() {
    let questionId = $(this).data('question-id') 
    let objectId = $(this).val()
    let objType = $(`select[data-control-name="objType"][data-question-id="${questionId}"]`).val()
    if (objType == 'BagItProfile') {
      loadFieldList(questionId, objType)
    } else {
      emptyFieldList()
    }
  })

  // Note data-question-id attribute

})
</script>

{{ template "partials/page_footer.html" .}}

{{ end }}