{{ define "job/file_row.html" }}

{{ $dirStats := dirStats . }}

<tr class="filepath" data-filepath="{{ . }}">
    {{ if $dirStats.RootIsFile }}
    <td>{{ fileIconFor . }} {{ . }}</td>
    {{ else }}
    <td><i class="far fa-folder"></i> {{ . }}</td>
    {{ end }}
    <td class="dirCount">{{ $dirStats.DirCount }}</td>
    <td class="fileCount">{{ $dirStats.FileCount }}</td>
    <td class="fileSize" data-bytes="{{ $dirStats.TotalBytes }}">{{ $dirStats.TotalBytes }}</td>
    <td class="clickable delete-file" data-url="#!" data-filepath="{{ . }}">
      <i class="fas fa-times text-danger" title="Delete {{ . }}"></i>
    </td>
</tr>

{{ end }}
