{{ define "job/list.html" }}

{{ template "partials/page_header.html" .}}

<h2>Jobs</h2>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="/jobs/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Packaged</th>
      <th>Validated</th>
      <th>Uploaded</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $item := .items }}
    <tr class="clickable-row" onclick="location.href='/jobs/files/{{ $item.ID }}'">
      <td>{{ $item.Name }}</td>
      <td class="{{ if $item.PackageSucceeded }}text-success{{ else }}text-danger{{ end }}">{{ displayDate $item.PackagedAt }}</td>
      <td class="{{ if $item.ValidationSucceeded }}text-success{{ else }}text-danger{{ end }}">{{ displayDate $item.ValidatedAt }}</td>
      <td class="{{ if $item.UploadSucceeded }}text-success{{ else }}text-danger{{ end }}">{{ displayDate $item.UploadedAt }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "partials/table_bottom_links.html" . }}

{{ template "partials/page_footer.html" .}}

{{ end }}
