{{ define "job/list.html" }}

{{ template "partials/page_header.html" .}}

<h2>Jobs</h2>
<div class="float-right mt-1 mb-3">
  <a class="btn btn-primary" href="/jobs/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Artifacts</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $item := .items }}
    <tr>
      <td><a href="/jobs/files/{{ $item.Job.ID }}">{{ $item.Job.Name }}</a></td>
      <td>
        <span class="{{ if $item.Job.Outcome.JobSucceeded }}text-success{{ else }}text-danger{{ end }}">
          Last Stage Completed: {{ $item.Job.Outcome.Stage }}
        </span> <br/> 
        {{ displayDate $item.Job.Outcome.LastActivity}}<br/>
        {{ $item.Job.Outcome.Message }}
      </td>
      <td>
        <div class="form-group ">
          <select class="form-control">
            <option value="">-- View Artifact --</option>
            {{ range $i, $artifact := $item.Artifacts }}
            <option value="{{ $artifact.ID }}">{{ $artifact.Name }}</option>
            {{ end }}
          </select>
        </div>

      </td>
      <td><a href="javascript:confirmForegroundDeletion('Delete job {{ $item.Job.Name }}?', '/jobs/delete/{{ $item.Job.ID }}')" title="Delete job {{ $item.Job.Name }}"><i class="fa fa-times text-danger" aria-hidden="true"></i></a></td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "partials/table_bottom_links.html" . }}

{{ template "partials/page_footer.html" .}}

{{ end }}
