{{ define "job/run.html" }}

{{ template "partials/page_header.html" .}}

<h2>Review and Run</h2>

{{ if .job.PackageOp }}
<div class="row">
  <div class="col text-right font-weight-bold">Package Name</div>
  <div class="col-10">{{ .job.PackageOp.PackageName }}</div>
</div>

{{ if .job.BagItProfile }}
<div class="row">
  <div class="col text-right font-weight-bold">BagIt Profile</div>
  <div class="col-10">
    {{ .job.BagItProfile.Name }} <br/>
    {{ .job.BagItProfile.Description }}
  </div>
</div>
{{ end }}

<div class="row">
  <div class="col text-right font-weight-bold">Payload Summary</div>
  <div class="col-10">
    {{ .job.DirCount }} Directories <br/>
    {{ .job.PayloadFileCount }} Files <br/>
    <!-- toHumanSize .job.ByteCount --> {{ .job.ByteCount }}<br/>
  </div>
</div>

<div class="row">
  <div class="col text-right font-weight-bold">Files to Package</div>
  <div class="col-10">
    {{ range $index, $path := .job.PackageOp.SourceFiles }}
      <!-- showPathWithTrim $path ../trimPath --> 
      {{ $path }} <br/>
    {{ end }}
  </div>
</div>

<div class="row">
  <div class="col text-right font-weight-bold">Output Path</div>
  <div class="col-10"><div id="output-path-link" data-url="{{ .job.PackageOp.OutputPath }}">{{ .job.PackageOp.OutputPath }}</div></div>
</div>

{{ end }} <!-- end if .job.BagItProfile  -->

{{ if gt (len .job.UploadOps) 0 }}
<div class="row">
  <div class="col text-right font-weight-bold">Upload To</div>
  <div class="col-10">
    {{ range $index, $uploadOp := .job.UploadOps }}
      {{ $uploadOp.StorageService.Name }} <br/>
    {{ end }}
  </div>
</div>
{{ end }}


<div class="row" id="jobIdContainer" style="display:none;">
  {{ template "partials/dart_process.html" .job }}
</div>

<div class="mt-5">
  <div class="pull-left" id="btnBackDiv">
    <a class="btn btn-primary" href="/jobs/upload/{{ .job.ID }}" role="button">&lt;&lt; Back</a>
  </div>



  <div class="pull-right" id="btnNextDiv">
    {{ if not .job.WorkflowID }}
    <button class="btn btn-info mr-5" onclick="postDataInBackground('/workflows/from_job/{{ .job.ID }}')" role="button">Create Workflow</button>
    {{  end }}

    <!-- Though it acts like a link, this has to be a button so we can disable it after click. -->
    <button id="btnRunJob" class="btn btn-success ml-5" onclick="runJob('{{ .job.ID }}')" role="button">Run Job</button>
  </div>
</div>

<script>
    
    var runningJobId = '{{ .job.ID }}'
    var completedUploads = []

    function runJob(jobId) {

      // TODO: Handle more specific messages when back end emits them.
      //
      // The general pattern for that is:
      //
      // sse.addEventListener("eventName", (e) => { code... });
      // 
      showDivs(jobId)
      let eventSrc = new EventSource("/jobs/run/" + jobId)
        eventSrc.onmessage = (event) => {
          // console.log(event)
          if (!event.data) {
            console.log("Malformed message")
            console.log(event)
            return
          }
          var data
          try {
            data = JSON.parse(event.data)
          } catch (ex) {
            console.log(ex)
            console.log(event)
            return
          }

          if (data.eventType == "disconnect") {
            console.log("Received disconnect from server")
            console.log(data.message)
            eventSrc.close()
          } else {
            renderInfo(data, jobId)
          }
        }
        eventSrc.onerror = (event) => {
          console.error(event)
        }
    }

    // -------------------------------------------------------------------

    var completedUploads = []
    var hasPackageOp = {{ .job.HasPackageOp }}
    var hasUploadOp = {{ .job.HasUploadOps }}
    {{ if .job.HasPackageOp }}
    var packageFormat = "{{ .job.PackageOp.PackageFormat }}"
    {{ else }}
    var packageFormat = "none"
    {{ end }}

    function showDivs(jobId) {
        let processDiv = $('#jobIdContainer');
        if (hasPackageOp) {
            initProgressBar(jobId, 'packageInfo');
            $(`#${jobId} div.packageInfo`).show();
            if (packageFormat == 'BagIt') {
                initProgressBar(jobId, 'validationInfo');
                $(`#${jobId} div.validationInfo`).show();
            }
        }
        if (hasUploadOp) {
            initProgressBar(jobId, 'uploadInfo');
            $(`#${jobId} div.uploadInfo`).show();
        }
        $(`#${jobId}-start-time`).text(new Date().toLocaleString());
        processDiv.show();
    }

    function renderInfo(data, jobId) {
      let divName = data.stage + "Info"
      let [detailDiv, progressBar] = getDivs(jobId, divName);
      // A job can include multiple uploads. For each new
      // upload, we want to set the progress bar back to 
      // zero and render it in blue.
      if (data.eventType == "start") {
        initProgressBar(jobId, 'uploadInfo')
      }
      if (data.eventType == "finish") {
        // console.log(data)
        if (data.status == "success") {
          if (divName == "") {
            completedUploads.push(data.message)
            markSuccess(detailDiv, progressBar, completedUploads.join("<br/>\n"))
          } else {
            markSuccess(detailDiv, progressBar, data.message)
          }
        } else { // info message
          detailDiv.text(data.message)
          setProgressBar(progressBar, data);
        }
      }
    }

    function getDivs(jobId, section) {
        let selectorPrefix = `#${jobId} div.${section} div.detail`;
        let detailDiv = $(`${selectorPrefix} div.message`);
        let progressBar = $(`${selectorPrefix} div.progress-bar`);
        return [detailDiv, progressBar];
    }

    function initProgressBar(jobId, section) {
        let [_, progressBar] = getDivs(jobId, section);
        if (progressBar) {
            progressBar.removeClass("bg-success");
            progressBar.removeClass("bg-danger");
            let initialClasses = ["progress-bar-striped", "progress-bar-animated"];
            for (let cssClass of initialClasses) {
                if (progressBar.hasClass(cssClass)) {
                    progressBar.addClass(cssClass);
                }
            }
            data = { percent: 0 }
            setProgressBar(progressBar, data)
        }
    }

    function setProgressBar(progressBar, data) {
        // Sometimes the data object does not include percentComplete,
        // and when percentComplete is unknown, it's set to -1.
        if (isNaN(data.percent) || data.percent < 0) {
            return;
        }
        // In bag creation, progress bar hits 100% when all payload
        // files are added. We have to add tag files and manifests
        // afterward, and we don't want the bar to bounce, so no
        // changes after it reaches 100%.
        //
        // Similarly with validation, the bar hits 100% when all checksums
        // have been verified, but the validator still has a few remaining
        // tasks, including tag file validation.
        //
        // In both cases, the bar will stick at 100% for a second or two.
        // When all items are complete, the bar animation will stop and
        // the bar will turn green.
        if (parseInt(progressBar.attr("aria-valuenow"), 10) != 100) {
            progressBar.attr("aria-valuenow", data.percent);
            progressBar.css("width", data.percent + '%');
        }
    }

    function markSuccess(detailDiv, progressBar, message) {
        detailDiv.html(message);
        if (progressBar) {
            setProgressBar(progressBar, { percent: 100 });
            progressBar.removeClass("progress-bar-striped progress-bar-animated");
            progressBar.addClass("bg-success");
        }
    }

    function markFailed(detailDiv, progressBar, message) {
        detailDiv.html(message);
        if (progressBar) {
            progressBar.removeClass("progress-bar-striped progress-bar-animated");
            progressBar.attr("aria-valuenow", 100);
            progressBar.css("width", '100%');
            progressBar.addClass("bg-danger");
        }
    }


</script>

{{ template "partials/page_footer.html" .}}

{{ end }}
